[submodule "backend-repo"]
	path = backend-repo
	url = https://lab.ssafy.com/gd10080008/backend-repo.git
	branch = develop

[submodule "spring-gateway-repo"]
	path = spring-gateway-repo
	url = https://lab.ssafy.com/gd10080008/spring-gateway-repo.git
	branch = develop

[submodule "frontend-repo"]
	path = frontend-repo
	url = https://lab.ssafy.com/gd10080008/frontend-repo.git
	branch = develop

[submodule "fastapi-gateway"]
	path = fastapi-gateway
	url = https://lab.ssafy.com/gd10080008/fastapi-gateway.git
	branch = develop

[submodule "extract-repo"]
	path = extract-repo
	url = https://lab.ssafy.com/gd10080008/extract-repo.git
	branch = develop