[submodule "backend-repo"]
	path = backend-repo
	url = https://lab.ssafy.com/gd10080008/backend-repo.git
	branch = develop

[submodule "frontend-repo"]
	path = frontend-repo
	url = https://lab.ssafy.com/gd10080008/frontend-repo.git
	branch = develop

[submodule "fastapi-gateway"]
	path = fastapi-gateway
	url = https://lab.ssafy.com/gd10080008/fastapi-gateway.git
	branch = develop

[submodule "extract-repo"]
	path = extract-repo
	url = https://lab.ssafy.com/gd10080008/extract-repo.git
	branch = develop
[submodule "chunking-repo"]
	path = chunking-repo
	url = https://lab.ssafy.com/gd10080008/chunking-repo.git
	branch = develop
[submodule "embedding-repo"]
	path = embedding-repo
	url = https://lab.ssafy.com/gd10080008/embedding-repo.git
	branch = develop
[submodule "query-embedding-repo"]
	path = query-embedding-repo
	url = https://lab.ssafy.com/gd10080008/query-embedding-repo.git
	branch = develop
[submodule "search-repo"]
	path = search-repo
	url = https://lab.ssafy.com/gd10080008/search-repo.git
	branch = develop
[submodule "cross-encoder-repo"]
	path = cross-encoder-repo
	url = https://lab.ssafy.com/gd10080008/cross-encoder-repo.git
	branch = develop
[submodule "generation-repo"]
	path = generation-repo
	url = https://lab.ssafy.com/gd10080008/generation-repo.git
	branch = develop
[submodule "ingest-repo"]
	path = ingest-repo
	url = https://lab.ssafy.com/dlwodnjs9354/ingest-repo.git
	branch = develop
[submodule "python-backend-repo"]
	path = python-backend-repo
	url = https://lab.ssafy.com/gd10080008/python-backend-repo.git
	branch = develop
