[project]
name = "rag-data-marker"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.121.0",
    "pydantic-settings>=2.11.0",
    "uvicorn[standard]>=0.38.0",
]
