# Build outputs
/build/
/bin/

# IDE
.idea/
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store

# Gradle
.gradle/
gradle-app.setting

# Logs
*.log

# Application configuration files
src/main/resources/application-local.yml
src/main/resources/application*.properties

# Local env
.env
.env.*