# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
.mypy_cache/
.dmypy.json
.ruff_cache/
.ipynb_checkpoints
.vscode/
*.egg-info/
*.egg
*.whl
dist/
build/

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db
